*.bak

.metadata
.vscode
*.generated.*

node_modules/

fw/target/
fw/external

# 3rd party libs currently not commited
fw/lib/HttpClient

web-api/solar-api/vendor/
web-api/solar-api/filestorage/

web-api/skeleton/